*{
    margin:0;
    padding: 0;
    overflow: hidden;
    font-family: 'starwars';
}
body{
    background-image: url('../img/bg.png');
    background-repeat: repeat;
}
.pj{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.pj img{
    width:50%;
    margin-bottom: 50px;
    box-shadow: 20px 10px 10px rgba(0, 0, 0, 0.658);
}
.pj p{
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.658);
    color: rgb(211, 179, 0);
    font-weight: 1000;
    font-size: 25px;
    padding: 5px;
    outline: 1px beige;
}
.star-rain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
}

.star {
    position: absolute;
    background-color: white;
    border-radius: 50%; 
}
.card{
    width: 250px;
    height: 350px;
    background-image: url('../img/card_bg.jpg');
    background-repeat: repeat;
    box-shadow: 0 0 50px 1px rgb(211, 179, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(211, 179, 0);
    border-radius: 10px;
}
.card1{
    z-index: 1000;
    position: absolute;
    top: 33%;
    left: 25%;
    transform: rotate(-30deg);
    animation: startCards 2s ease-in-out;
}
.card2{
    z-index: 999;
    position: absolute;
    top: 25%;
    left: 35%;
    transform: rotate(-15deg);
    animation: startCards 2s ease-in-out;
    animation-delay: 0.3s;
}
.card3{
    z-index: 998;
    position: absolute;
    top: 22%;
    left: 45%;
    transform: rotate(0deg);
    animation: startCards 2s ease-in-out;
    animation-delay: 0.6s;
}
.card4{
    z-index: 997;
    position: absolute;
    top: 25%;
    left: 55%;
    transform: rotate(15deg);
    animation: startCards 2s ease-in-out;
    animation-delay: 0.9s;
}
.card5{
    z-index: 996;
    position: absolute;
    top: 33%;
    left: 65%;
    transform: rotate(30deg);
    animation: startCards 2s ease-in-out;
    animation-delay: 1.2s;
}
.card:hover{
    z-index:10000;
    width: 300px;
    height: 400px;
    size: 111%;
    transition: 0.2s;
}
.info-box{
    border: 5px solid black;
    border-radius: 50px;
    position: absolute;
    display: block;
    width: 90%;
    height: 90vh;
    top: 5%;
    left: 5%;
    background-color: bisque;
    display: none;
    opacity: 0;
}
.button-info{
    height: 10%;
    width: 100%;
    border-bottom: 5px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.menu {
    grid-column: 1/3;
    grid-row: 2/3;
    color: var(--contrast);
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background: none;
    font-family: StarWars;
}

.menu-item {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-item:hover {
    background-color: rgb(165, 102, 31);
    color: white;
}
.exit{
    color: rgb(168, 137, 0);
    font-size: 30px;
    margin-right: 2%;
    margin-left: 5%;
}
.show-info{
    display: flex;
    flex-direction: row;
    padding-left: 15%;
    padding-top: 4%;
}

@keyframes startCards{
    0%{
        transform: translateX(-2000px);
        opacity: 0; 
    }
    50%{
        transform: rotateY(180deg);
    }
    100%{
        transform: translateX(0);
        transform: rotateY(360deg);
        opacity: 1; 
    }
}
@font-face {
    font-family: "starwars";
    src: url("../fonts/STARWARS.ttf");
}